Repository ovnrain/javbus-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.commit.json, prettier --write

.lintstagedrc:

{
  "*.ts": ["eslint --config .eslintrc.commit.json"],
  "*.html": ["prettier --write"]
}

update prettier config
  .prettierrc
Due: none

update README
  README.md
Due: none

2.1.0
  package.json
Due: none

upgrade pnpm packages
  package.json
  pnpm-lock.yaml
Due: none

edit README
  README.md
Due: none

update build npm script
  Dockerfile
  package.json
Due: none

nextjs basic config
  .eslintignore
  .eslintrc.commit.json
  .eslintrc.json
  .gitignore
  .lintstagedrc.js
  .prettierrc
  .vscode/settings.json
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/page.tsx
  tsconfig.json
Due: none

migrate index page
  package.json
  pnpm-lock.yaml
  src/app/base.css
  src/app/components/title.module.scss
  src/app/components/title.tsx
  src/app/layout.module.scss
  src/app/layout.tsx
  src/app/normalize.css
  src/app/page.module.scss
  src/app/page.tsx
Due: none

update eslint & tsconfig
  .eslintrc.commit.json
  .eslintrc.json
  tsconfig.json
Due: none

update eslint config
  .eslintrc.commit.json
  .eslintrc.json
Due: none

migrate apis to next.js
  package.json
  pnpm-lock.yaml
  src/app/api/magnets/[movieId]/route.ts
  src/app/api/movies/[movieId]/route.ts
  src/app/api/movies/route.ts
  src/app/api/movies/search/route.ts
  src/app/api/stars/[starId]/route.ts
  src/app/lib/client.ts
  src/app/lib/constants.ts
  src/app/lib/definitions.ts
  src/app/lib/javbusParser.ts
  src/app/lib/schemas.ts
  src/app/lib/utils.ts
Due: eslint --config .eslintrc.commit.json

env validation
  src/app/env.ts
  src/app/lib/client.ts
Due: eslint --config .eslintrc.commit.json

login page
  src/app/login/page.module.scss
  src/app/login/page.tsx
  src/app/page.module.scss
  src/app/page.tsx
Due: none

login & logout
  package.json
  pnpm-lock.yaml
  src/app/actions/auth.ts
  src/app/env.ts
  src/app/lib/session.ts
  src/app/login/page.module.scss
  src/app/login/page.tsx
  src/app/logout/route.ts
  src/app/page.module.scss
  src/app/page.tsx
  tsconfig.json
Due: eslint --config .eslintrc.commit.json

api route authorization
  package.json
  pnpm-lock.yaml
  src/app/actions/auth.ts
  src/app/env.ts
  src/app/lib/client.ts
  src/app/lib/constants.ts
  src/app/lib/definitions.ts
  src/app/lib/session.ts
  src/app/page.tsx
  src/middleware.ts
Due: eslint --config .eslintrc.commit.json

update npm format script
  package.json
Due: none

add icon.svg
  src/app/icon.svg
Due: none

remove old files
  api/app.ts
  api/client.ts
  api/constants.ts
  api/env.ts
  api/index.ts
  api/javbusParser.ts
  api/router.ts
  api/server.ts
  api/types.ts
  api/utils.ts
  api/validatorUtils.ts
  api/validators.ts
  package.json
  pnpm-lock.yaml
  public/css/base.css
  public/css/normalize.css
  public/favicon.png
  public/favicon.svg
  public/index.html
  public/login.html
Due: eslint --config .eslintrc.commit.json, prettier --write

config packageManager
  package.json
Due: none

update lint script
  package.json
Due: none

remove vercel.json
  vercel.json
Due: none

update Dockerfile
  .dockerignore
  Dockerfile
Due: none

github workflow for nextjs docker image
  .github/workflows/build-push-image-nextjs.yml
Due: none

rename github workflow
  .github/workflows/build-push-image-nextjs.yml
Due: none

upgrade next.js
  package.json
  pnpm-lock.yaml
Due: none

update gitignore
  .gitignore
Due: none

fix get movie cover size
  api/javbusParser.ts
Due: eslint --config .eslintrc.commit.json

2.1.1
  package.json
Due: none
