Repository ovnrain/javbus-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.commit.json, prettier --write

.lintstagedrc:

{
  "*.ts": ["eslint --config .eslintrc.commit.json"],
  "*.html": ["prettier --write"]
}

update README
  README.md
Due: none

config vscode
  .vscode/settings.json
Due: none

update build script
  .prettierignore
  package.json
Due: none

add auth
  api/app.ts
  api/env.d.ts
  package.json
  pnpm-lock.yaml
  public/index.html
  public/login.html
Due: eslint --config .eslintrc.commit.json, prettier --write

update index & login page
  public/css/base.css
  public/index.html
  public/login.html
Due: prettier --write

wrap page script
  public/index.html
  public/login.html
Due: prettier --write

trigger login by username keydown
  public/login.html
Due: prettier --write

remove unused css
  public/index.html
Due: prettier --write

use normalize.css
  public/css/base.css
  public/css/normalize.css
  public/index.html
  public/login.html
Due: prettier --write

fix logout button style
  public/index.html
Due: prettier --write

update html meta
  public/index.html
  public/login.html
Due: prettier --write

login types
  api/app.ts
Due: eslint --config .eslintrc.commit.json

move validate
  api/router/v1/router.ts
  api/router/v1/validators.ts
  api/utils.ts
Due: eslint --config .eslintrc.commit.json

login fields validation
  .gitignore
  api/app.ts
  api/utils.ts
Due: eslint --config .eslintrc.commit.json

login with form element
  api/app.ts
  public/login.html
Due: eslint --config .eslintrc.commit.json, prettier --write

login show message function
  public/login.html
Due: prettier --write

show login loading status
  public/login.html
Due: prettier --write

redirect prev page from login
  api/app.ts
  public/index.html
  public/login.html
Due: eslint --config .eslintrc.commit.json, prettier --write

edit README
  README.md
Due: none

1.7.0
  package.json
Due: none

add favicon
  design/icon.sketch
  public/favicon.png
  public/index.html
  public/login.html
Due: prettier --write

1.7.1
  package.json
Due: none

update favicon
  design/icon.sketch
  public/favicon.png
  public/favicon.svg
  public/index.html
  public/login.html
Due: prettier --write

optimize code
  api/app.ts
  api/server.ts
Due: eslint --config .eslintrc.commit.json

update Dockerfile
  Dockerfile
Due: none

update tsconfig
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
Due: none

env validation with zod
  api/app.ts
  api/env.d.ts
  api/env.ts
  api/router/v1/client.ts
  api/server.ts
  api/utils.ts
  package.json
  pnpm-lock.yaml
Due: eslint --config .eslintrc.commit.json

remove unused file
  api/server.ts
  api/types.ts
Due: eslint --config .eslintrc.commit.json

refactor http server listen error handler
  api/server.ts
Due: eslint --config .eslintrc.commit.json

update Dockerfile
  .dockerignore
  Dockerfile
Due: none

update tsconfig
  tsconfig.base.json
  tsconfig.json
Due: none

format Dockerfile
  Dockerfile
Due: none

refactor query validate
  api/app.ts
  api/utils.ts
Due: eslint --config .eslintrc.commit.json

refactor code
  api/router/v1/router.ts
  api/router/v1/validators.ts
  api/utils.ts
Due: eslint --config .eslintrc.commit.json

upgrade pnpm packages
  package.json
  pnpm-lock.yaml
Due: none
