Repository ovnrain/javbus-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.commit.json, prettier --write

double quote in package.json scripts
  package.json
Due: none

move lint-staged config to package.json
  .lintstagedrc
  package.json
Due: none

upgrade pnpm packages
  package.json
  pnpm-lock.yaml
Due: none

javbus new accept-language
  api/router/v1/client.ts
Due: eslint --config .eslintrc.commit.json

1.7.2
  package.json
Due: none

upgrade zod
  package.json
  pnpm-lock.yaml
Due: none

update README
  README.md
Due: none

fix parse magnet title
  api/router/v1/javbusParser.ts
Due: eslint --config .eslintrc.commit.json

1.7.3
  package.json
Due: none

add docker platform linux/arm/v6
  .github/workflows/build-push-image.yml
Due: none

use latest node lts
  .nvmrc
  Dockerfile
Due: none

upgrade pnpm packages
  api/router/v1/javbusParser.ts
  package.json
  pnpm-lock.yaml
Due: eslint --config .eslintrc.commit.json

update Dockerfile
  Dockerfile
Due: none

Revert "update Dockerfile"
  Dockerfile
Due: none

Revert "use latest node lts"
  .nvmrc
  Dockerfile
Due: none

remove v1 prefix
  README.md
  api/app.ts
  api/client.ts
  api/constants.ts
  api/javbusParser.ts
  api/router.ts
  api/router/v1/utils.ts
  api/types.ts
  api/utils.ts
  api/validatorUtils.ts
  api/validators.ts
  public/index.html
Due: eslint --config .eslintrc.commit.json, prettier --write

new magnets api
  api/javbusParser.ts
  api/router.ts
  api/types.ts
  api/validators.ts
  public/index.html
Due: eslint --config .eslintrc.commit.json, prettier --write

sort magnets by date & size
  .prettierrc
  api/javbusParser.ts
  api/router.ts
  api/types.ts
  api/validators.ts
  public/index.html
  tsconfig.json
Due: eslint --config .eslintrc.commit.json, prettier --write

default page & magnet query value
  api/validators.ts
Due: eslint --config .eslintrc.commit.json

update index.html
  public/index.html
Due: prettier --write

2.0.0
  package.json
Due: none

use node lts iron
  .nvmrc
  Dockerfile
Due: none

update github workflow
  .github/workflows/build-push-image.yml
Due: none

update Dockerfile & github workflow
  .github/workflows/build-push-image.yml
  Dockerfile
Due: none

use node slim image
  Dockerfile
Due: none

fix docker tini path
  Dockerfile
Due: none

new vscode config
  .vscode/settings.json
Due: none

upgrade husky
  .husky/pre-commit
  package.json
Due: none

show similar movies in detail
  api/javbusParser.ts
  api/types.ts
Due: eslint --config .eslintrc.commit.json

Path conditions:
  eslint --config .eslintrc.commit.json: any of: *.ts
  prettier --write: any of: *.html
