Repository ovnrain/javbus-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.commit.json --fix, prettier --write

fix esm run in docker
  Dockerfile
Due: none

update github workflows
  .github/workflows/build-push-image.yml
Due: none

1.4.2
  package.json
Due: none

update README
  README.md
Due: none

upgrade pnpm packages
  package.json
  pnpm-lock.yaml
Due: none

refactor: movies filter
  src/router/v1/javbusParser.ts
  src/router/v1/routes/movies.ts
  src/router/v1/types.ts
  src/router/v1/validators.ts
Due: eslint --config .eslintrc.commit.json --fix

rename movie detail properties
  src/router/v1/javbusParser.ts
  src/router/v1/types.ts
Due: eslint --config .eslintrc.commit.json --fix

update index page
  public/index.html
Due: prettier --write

update Dockerfile
  Dockerfile
Due: none

1.5.0
  package.json
Due: none

add eslintignore
  .eslintignore
Due: none

update npm build script
  package.json
Due: none

update prettier config
  .prettierrc
  src/handlers/errorHandler.ts
  src/router/v1/javbusParser.ts
  src/router/v1/validators.ts
Due: eslint --config .eslintrc.commit.json --fix

update lintstaged config
  .lintstagedrc
Due: none

config build script prettier ignore path
  .prettierignore
  package.json
Due: none

update server listen addr
  src/server.ts
Due: eslint --config .eslintrc.commit.json --fix

support https server
  src/env.d.ts
  src/server.ts
Due: eslint --config .eslintrc.commit.json --fix

support config proxy
  package.json
  pnpm-lock.yaml
  src/env.d.ts
  src/router/v1/client.ts
  src/router/v1/javbusParser.ts
Due: eslint --config .eslintrc.commit.json --fix

edit README
  README.md
Due: none

1.6.0
  package.json
Due: none

config vercel deploy
  .gitignore
  api/app.ts
  api/env.d.ts
  api/index.ts
  api/router/v1/client.ts
  api/router/v1/constants.ts
  api/router/v1/javbusParser.ts
  api/router/v1/router.ts
  api/router/v1/types.ts
  api/router/v1/utils.ts
  api/router/v1/validators.ts
  api/server.ts
  api/types.ts
  api/utils.ts
  package.json
  src/app.ts
  src/handlers/errorHandler.ts
  src/handlers/index.ts
  src/router/v1/router.ts
  src/router/v1/routes/stars.ts
  vercel.json
Due: eslint --config .eslintrc.commit.json --fix

Path conditions:
  eslint --config .eslintrc.commit.json --fix: any of: *.ts
  prettier --write: any of: *.html
